@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital@1&family=Lacquer&family=Pacifico&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: Arial, Helvetica, sans-serif; 
  
}

#error{
 display: none;
}

:root{
  --li-effect-color:rgb(255, 255, 255);
  --button-color:white;
}
header{
  overflow: hidden;
}
/* ------start nav-bar--------- */

.el-1{
  margin-left: -60px;
}

.el-1 i {
  /* color:rgba(243, 209, 146, 0.592) ; */
  color: #F7C08A;
  padding-right: .1rem;
}

.nav{
 position: fixed;
 overflow: hidden;
}

#nav-el {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(3, 1, 1, 0.945);
  max-width: 100%;
  height: 8vh;
  overflow: hidden;
  
}

.el-2 > ul > li {
  display: inline;
  list-style: none;
  margin: 1rem;
  padding: 0 2rem;
  font-size: 1.2rem;
  color: skyblue;  
}

.el-2 > ul> li > a {
 position: relative;
color: #ffff;
font-weight: 300;
transition: all .3s ;
text-decoration: none;

}

.el-2 > ul> li > a::after {
  content: url('');
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  border-bottom: 3px solid;
  transition: .5s;
}

.el-2 > ul> li > a::before {
  content: url('');
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  border-bottom: 3px solid black;
  transition: .5s;
}


.el-2 > ul> li > a:hover:after
 {
  width: 100%;
}

.el-2 > ul> li > a:hover:before {
  width: 100%;
}

.el-2 > ul> li > a:hover{
  color: rgb(238, 140, 13);  
}


.el-3 a{
  padding: .4rem 1.3rem;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.247);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  margin-right: -60px;
  border-radius: 30px;
  transition: all .3s;
  position: relative;
  text-decoration: none;
}


.el-3 a:hover{
  /* background-color: rgba(255, 255, 255, 0.601); */
  background-color: rgb(238, 140, 13);
  color: #FFFF;
}

.clr{
  clear: both;
}
              /* ----finish nav-bar ----*/
     /* start showcase-1 section */
 
      
 #showcase-1 {
  width: 100%;
  height: 87vh;
  background: url('../img/landing-page.jpg') no-repeat center center/cover;
 
}

#showcase-1 .landing-img {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background: rgba(4, 1, 1, 0.648) ;


}


#showcase-1 .landing-img .bug > h1 {
  font-size: 3.5rem;
 font-family: fantasy;
  opacity: 1;
}

.bg{
  opacity: .6;
font-family: fantasy;
}

#enjoy{
  color: #F7C08A;
  opacity: 1;
}
#showcase-1 .landing-img .bug >  p {
  opacity: .7;
  font-size: 1.1rem;
  font-family: cursive;
 
  margin-top: 1rem;
}

.f {
  margin-top: 2.5rem; 
}

.f .l-button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  border: .5px solid white;
  padding: .5rem 3rem;
  overflow: hidden;
  z-index: 1;
}

.f ::after{
  content: url('');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 0 0 50% 50%;
  background: #ffffff36;
  transition: all .3s;
  z-index: -1;
}


.f :hover:after {
height: 180%;
color: rgba(238, 189, 84, 0.815);
}

.f .l-button:hover{
  color:rgb(235, 163, 39);
  border:.5px solid #ffffff0e ;
}

    /* finish showcase-1 section */
/* start showcase-15 section */
#showcase-15{
text-align: center;
margin: 1rem 5rem;
color: #54534A;
font-family: 'Raleway', sans-serif;
line-height: 1.3;
letter-spacing:-2px ;
word-spacing: 5px;
}

.sh-1{
  width: 32vw;
  text-align: center;
  
}
.sh-a{
  width: 32vw;
  height: 350px;
}

.sh-b {
  text-align: center;
  color: #8e731b;
  font-size: 1.27rem;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}
.sh-a1 {padding: 1rem 1rem 1rem 0rem;}
.sh-a2 {padding: 1rem 1rem 1rem 0;}
.sh-a3 {padding: 1rem 1rem 1rem 0rem;}

.sh-c{
  color: #333333b2;
  margin-bottom: 1.25rem;
  line-height: 25px;
}

.sh-btn{
  display: inline-block;
  text-decoration: none;
  color: #8e731b;
  /* margin: 12px 0 100px; */
  border: 1px solid #8e731b;
  padding: .5rem 1.3rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: .3s;
}

.sh-btn:hover{
  border: 1px solid rgba(51, 51, 51, 0.075);
  background-color: rgba(51, 51, 51, 0.075);
}

#showcase-2{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  height: 620px;
  align-items: center;
}

    /* finish showcase-2 section */
/* start  showcase-3 section */
#showcase-3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sh-61{
  width: auto;
  height: 360px;
  border-radius: 50%;
  margin-left: 4rem;
}

.sh-51 {
  color: gray;
  font-family: 'Pacifico', cursive;
  font-weight: 500;
 
}

.sh-51::after{
  content:'"';
 display: block;
 color: rgb(238, 140, 13);
 margin-left: 13rem;
 font-size: 50px;
 height: 5rem;
 margin-top: -4.5rem;
}
.sh-51::before{
  content:'"';

 display: inline;
 color: rgb(238, 140, 13);
 margin-right: 1rem;
 font-size: 50px;
}

.md {
  font-size: 30px;
  font-family: 'Josefin Slab', serif;
  margin-right: -25rem;
  margin-bottom: 4rem;
}

.dot{
  font-size: 40px;
  color: rgb(238, 140, 13);
  margin-left: -3px;
}

/* finish  showcase-3 section */

/* start footer section */

footer{
  background: rgba(51, 51, 51, 0.937);
  /* border-top-right-radius: 200px;
  border-top-left-radius: 200px; */
  color: #fff;
}

#footer{
  display: flex;
  width: 100%;
  height: 28vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* re social menu */
.fo-1{
  margin-top: 1rem;
}

.fo-1 ul {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.fo-1 ul li {
  list-style: none;
  margin: 0 10px;
}
.fo-1 ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: .5s;
}

.fo-1 ul li .fa:hover {
  color: #ffffff;
}

.fo-1 ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0,0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.fo-1 ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.fo-1 ul li:nth-child(1) a:hover {
  background-color: #3b5999;
  color: #fff;
}
.fo-1 ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.fo-1 ul li:nth-child(3) a:hover {
  background-color: #f0a866;
  color: #fff;
}
.fo-1 ul li:nth-child(4) a:hover {
  background-color: #0e76a8;
  color: #fff;
}


.fo-2 {
  font-size: 20px;
  margin-top: 2.7rem;
  color: rgba(240, 255, 255, 0.658);
  font-family: 'Times New Roman', Times, serif;
}

.fo-3{
  margin-top: 1.5rem;
  margin-bottom: -1rem;
}
.fo-3 a {
text-decoration: none;
font-size: 1.1rem;
color: #fff;
background: #333;
padding: .5rem 2rem;
border-radius: 30px;
transition: all .3s;
}

.fo-3 a:hover{
  background-color: rgb(238, 140, 13);
}

footer  a {
  color: #fff;
  
}

         /* finish footer section */
        /* finish landing page */
       /* finish landing page */
      /* finish landing page */